.list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.item {
  background-color: #fff;
  width: 280px;
  height: 300px;
}

.item img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
